.users-table-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.users-table th,
.users-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.users-table th {
  background-color: #f2f2f2;
  text-align: left;
}

/* .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 2px;
}

.pagination select {
  margin-left: 10px;
} */
